.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;

      tr {
        height: 100px;
        th {
          text-align: left;

          &:first-child {
            width: 20%;
          }
          &:nth-child(2) {
            width: 50%;
          }
          &:nth-child(3),
          &:nth-child(4) {
            width: 20%;
          }
        }
        td {
          padding: 10px;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // flex-direction: column;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
          .userProfile {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            img {
              width: 50px;
              border-radius: 50%;
            }
          }

          .button_actions{
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }

        button {
          background-color: #1dbf73;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
        }

        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
